@import "tailwindcss";

:root {
  --background: #030303;
  --foreground: #f3f4f6;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  /* tło w stylu siatki */
  background-image:
    radial-gradient(
      circle at 50% 50%,
      rgba(255, 255, 255, 0.06) 0%,
      transparent 60%
    ),
    linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size:
    100vw 100vh,
    20vw 100vh;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
